.ptl {
    padding-top: 30px;
}
.pbl {
    padding-bottom: 30px;
}
.prl {
    padding-right: 15px;
}
.pll {
    padding-left: 15px;
}
img {
    cursor: pointer;
}
.no-border {
    border: 0 !important;
}
.mtl {
    margin-top: 30px;
}
.img-zoom:hover {
    transform: scale(0.9);
}
p {
    text-align: justify;
}